/notes.private.txt
/mappyfile.sln
/mappyfile.v12.suo
*.pyc
cache
/Notes.ignore.txt
/.pypirc
/build/*
/dist/*
/mappyfile.egg-info/*
/prospector.log
/docs/_build/*
.pypirc
/.vs/mappyfile/v15/.suo
/.tox
/.eggs
/.vs/*
/.venv
/.coverage
/tests/mapfiles/large_map2.map
/.vscode
/mappyfile.pyproj.user
_build
