colorama
docutils
flake8
click
lark-parser==0.7.3
# git+git://github.com/erezsh/lark.git#egg=lark
pluggy
py
pydot
pyparsing
pytest
pytest-cov
tox
virtualenv
jsonschema
jsonref==0.2
glob2
coveralls
sphinx