colorama
docutils
flake8
# git+git://github.com/lark-parser/lark.git#egg=lark
pluggy
py
pydot
pyparsing
pytest
pytest-cov
pytest-xdist
virtualenv
glob2
coveralls
sphinx
black
mypy
types-jsonschema
pyyaml
types-PyYAML

# for demo scripts
Pillow
shapely
